
@{
    ViewBag.Title = "Desarrolladores y colaboradores de la página";
}


<div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Desarrolladores y colaboradores</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>Estás aquí:</li>
                            <li>Desarrolladores y colaboradores</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row team">
                    <!-- item 1 -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
                        <div class="team-member">
                            <div class="team-member-holder">
                                <div class="team-member-image">                                 
                                    <img src="~/img/team/jonas.jpg" />
                                    <div class="team-member-links">
                                        <div class="team-member-links-list">
                                            <a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/el.jonas333"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" class="linkedin team-member-links-item" href="https://www.linkedin.com/in/jonas-maldonado-ayala-91600839/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-member-meta">
                                    <h4 class="team-member-name">Jonás Maldonado Ayala</h4>
                                    <div class="team-member-role">Desarrollador Web</div>
                                    <div class="team-member-description">
                                        <p style="text-align:justify">
                                            Encargado del desarrollo de la primera y segunda versión de la página web de CECATI 117,
                                            diseño y programación.
                                        </p>
                                        <p style="text-align:justify">
                                            Este proyecto fue realizado como parte de mi servicio social y residencias profesionales de la carrera de
                                            <b>Ingeniería En Sistemas Computacionales</b>
                                            del <a href="http://tecuruapan.edu.mx" target="_blank">Instituto Tecnológico Superior de Uruapan</a>, durante el año 2018 - 2019.
                                        </p>
                                        <br />
                                        <p style="text-align:justify">
                                            <b>Mis redes sociales</b>
                                        </p>
                                        <div class="member-social dark">
                                            <a target="_blank" class="facebook" href="https://www.facebook.com/el.jonas333"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" class="linkedin" href="https://www.linkedin.com/in/jonas-maldonado-ayala-91600839/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- item 2 -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
                        <div class="team-member">
                            <div class="team-member-holder">
                                <div class="team-member-image">
                                    <img src="~/img/team/angel.jpg" />
                                    <div class="team-member-links">
                                        <div class="team-member-links-list">
                                            <a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/NoDebesVerEsto"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" class="linkedin team-member-links-item" href="https://www.linkedin.com/in/alberto-%C3%A1ngel-cruz-5a45a8157/"><i class="fa fa-linkedin"></i></a>
                                            <a target="_blank" class="linkedin team-member-links-item" href="https://twitter.com/angelcruzalv"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-member-meta">
                                    <h4 class="team-member-name">Alberto Ángel Cruz Alvarado</h4>
                                    <div class="team-member-role">Desarrollador Web</div>
                                    <div class="team-member-description">
                                        <p style="text-align:justify">
                                            Encargado del desarrollo y mantenimiento de la segunda versión de la página web de CECATI 117,
                                            diseño y programación.
                                        </p>
                                        <p style="text-align:justify">
                                            Este proyecto fue realizado como parte de mi servicio social de la carrera de
                                            <b>Ingeniería En Sistemas Computacionales</b>
                                            del <a href="http://tecuruapan.edu.mx" target="_blank">Instituto Tecnológico Superior de Uruapan</a>, durante el periodo 2018-2019.
                                        </p>
                                        <br />
                                        <p style="text-align:justify">
                                            <b>Mis redes sociales</b>
                                        </p>
                                        <div class="member-social dark">
                                            <a target="_blank" class="facebook" href="https://www.facebook.com/NoDebesVerEsto"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" class="linkedin" href="https://www.linkedin.com/in/alberto-%C3%A1ngel-cruz-5a45a8157/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- item 3 -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
                        <div class="team-member">
                            <div class="team-member-holder">
                                <div class="team-member-image">
                                    <img src="~/assets/tema_pixma/img/team/team-member-1.jpg" />
                                    <div class="team-member-links">
                                        <div class="team-member-links-list">
                                            @*<a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/NoDebesVerEsto"><i class="fa fa-facebook"></i></a>
                <a target="_blank" class="linkedin team-member-links-item" href="https://www.linkedin.com/in/alberto-%C3%A1ngel-cruz-5a45a8157/"><i class="fa fa-linkedin"></i></a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="team-member-meta">
                                    <h4 class="team-member-name">L.C. Marco Antonio Méndez Cuara</h4>
                                    <div class="team-member-role">Director del plantel</div>
                                    <div class="team-member-description">
                                        <p style="text-align:justify">
                                            Colaborador del desarrollo y mantenimiento de la primera y segunda versión de la página web del CECATI 117.
                                        </p>
                                        <p style="text-align:justify">
                                            Este proyecto fue realizado durante mi mandato como director del CECATI 117.
                                            
                                        </p>
                                        <br />
                                        <p style="text-align:justify">
                                            @*<b>Mis redes sociales</b>*@
                                        </p>
                                        <div class="member-social dark">
                                            @*<a target="_blank" class="facebook" href="https://www.facebook.com/NoDebesVerEsto"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" class="linkedin" href="https://www.linkedin.com/in/alberto-%C3%A1ngel-cruz-5a45a8157/"><i class="fa fa-linkedin"></i></a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- item 4 -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
                        <div class="team-member">
                            <div class="team-member-holder">
                                <div class="team-member-image">
                                    <img src="~/img/team/beto.jpg" />
                                    <div class="team-member-links">
                                        @*<div class="team-member-links-list">
                                            <a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/NoDebesVerEsto"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" class="linkedin team-member-links-item" href="https://www.linkedin.com/in/alberto-%C3%A1ngel-cruz-5a45a8157/"><i class="fa fa-linkedin"></i></a>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="team-member-meta">
                                    <h4 class="team-member-name">Arq. Alberto Mancera Huante</h4>
                                    <div class="team-member-role">Jefe del área de vinculación</div>
                                    <div class="team-member-description">
                                        <p style="text-align:justify">
                                            Colaborador del desarrollo y mantenimiento de la primera y segunda versión de la página web del CECATI 117.
                                        </p>
                                        <p style="text-align:justify">
                                            Colaboré con la obtención de requisitos. 

                                        </p>
                                        <br />
                                        <p style="text-align:justify">
                                            @*<b>Mis redes sociales</b>*@
                                        </p>
                                        <div class="member-social dark">
                                            @*<a target="_blank" class="facebook" href="https://www.facebook.com/NoDebesVerEsto"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" class="linkedin" href="https://www.linkedin.com/in/alberto-%C3%A1ngel-cruz-5a45a8157/"><i class="fa fa-linkedin"></i></a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
